<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="shortcut icon" href="./Assets/Images/Cat-and-Dog.svg" type="image/x-icon">
    <link rel="stylesheet" href="./Assets/Style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins&display=swap" rel="stylesheet">
    <title>Paraiso Animal-Compra</title>
</head>
<body>
    <body>
        <div id="app">
            {{calcularCantidad}} {{calcularTotal}}
                        <!-- Aquí empieza el NavBar -->
        <header>
            <nav class="navbar bg-white justify-content-center">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link ancor-nav" href="./index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link ancor-nav" href="./juguetes.html">Juguetes</a></li>
                    <li class="nav-item"><a class="nav-link logo" href="./index.html"><div class="wrapper bg-white"><img src="./Assets/Images/Cat-and-Dog.svg"></div></a></li>
                    <li class="nav-item"><a class="nav-link ancor-nav" href="./farmacia.html">Farmacia</a></li>
                    <li class="nav-item"><a class="nav-link ancor-nav" href="./contactos.html">Contactenos</a></li>
                </ul>
            </nav>
        </header>
        <h1 class="titulo-tienda">Carrito de compra</h1>
            <!-- Aqui Empieza el Main --> 
        <main class="contenedor-compra">
            <div class="canasta">
                <div class="canasta-labels">
                <ul >
                    <li class="articulos">Articulo</li>
                    <li class="precio">Precio</li>
                    <li class="cantidad">Cantidad</li>
                    <li class="subtotal">Subtotal</li>
                </ul>
            </div>
            <template v-if="Object.keys(carrito).length > 0 ">
                <div class="detalles-productos" v-for="juguete of carrito">
                    <ul class="subtotal-productos">
                        <li>{{juguete.nombre}}</li>
                        <li>${{juguete.precio}}</li>
                        <li>{{juguete.cantidad}}</li>
                        <li>${{juguete.cantidad * juguete.precio}}</li>
                    </ul>
                    <div class="contenedor-remover">
                        <button class="boton-remover" @click="eliminarDelCarrito(juguete.id)">Remover</button>
                    </div>
                </div>
            </template>
            <template v-else>
                <p class="text-center fs-4">El carrito esta vacio!</p>
            </template>
            </div>
            <aside>
                <div class="contenedor-aside">
                    <div class="sumario">
                        <h2 class="sumaTotal-Articulos"><span class="total-items"></span> Articulos en tu carrito</h2>
                            <div class="summary-subtotal">
                                <div class="subtotal p-2 d-flex flex-column">Cantidad Total de productos: <span class="p-2 text-dark">{{cantidad}}</span></div>
                                <div class="subtotal-value final-value p-2" id="subtotal-compra">{{total}}</div>
                                <div class="promo-Titulo p-2"> Servicio de Entrega :</div>
                                <div class="promo-value final-value" id="basket-promo"></div>
                            </div>
                        </div>
                        <div class="summary-delivery">
                            <select name="delivery-collection" class="summary-delivery-selection">
                                <option value="0" selected="selected">Seleccione distribuidor de paqueteria</option>
                                <option value="Andreani">Andreani</option>
                                <option value="Correo-Argetino">Correo Argetino</option>
                                <option value="OCA">OCA</option>
                            </select>
                            <div class="total-titulo p-2"><b>Total a pagar:</b></div>
                            <div class="total-value final-value p-2" id="compra-total">${{total}}</div>
                        </div>
                        <div class="checkout">
                            <button class="boton-checkout">Finalizar</button>
                        </div>
                    </div>
                </div>
            </aside> 
        </main>
        <!-- Aqui Empieza El Footer -->
        <footer class="text-center text-lg-start text-white " style="background-color: #F5A09D">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column Horarios de Atención-->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h4 class="text-uppercase mb-4">Horarios de Atención</h4>
                
                        <table class="table text-center text-white">
                        <tbody class="font-weight-normal">
                            <tr>
                            <td>Lun - Vie:</td>
                            <td>09:00 - 21:00</td>
                            </tr>
                            <tr>
                            <td>Sábado</td>
                            <td>10:00 - 14:00</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>        
                    <!-- Grid column Contacto-->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h4 class="text-uppercase mb-4 font-weight-bold">Contacto</h4>
                    <div class="contenedor-contacto d-flex justify-content-center flex-column">
                        <a href="https://www.google.com/maps/place/R%C3%ADo+de+Janeiro+300,+C1405CCB+CABA/@-34.6117966,-58.4304098,17z/data=!4m6!3m5!1s0x95bcca429815227f:0x5d302e497c2cda87!8m2!3d-34.6117966!4d-58.4304098!16s%2Fg%2F11c1zry9gr" class="enlaces"><span class="iconify" data-icon="simple-icons:googlemaps"></span></i> Argentina, CABA, Río de Janeiro 300
                        </a>
                        <a href="mailto:Paraiso-Animal@gmail.com" class="enlaces mt-3" ><span class="iconify" data-icon="material-symbols:mail-outline"></span> Paraiso-Animal@gmail.com</a>
                        <br>
                        <a href="tel:+ 54 011 567 88" class="enlaces" ><span class="iconify" data-icon="material-symbols:phone-forwarded"></span> + 54 011 567 88</a>
                    </div>
                    </div>
                    <!-- Grid column Redes sociales-->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Seguinos en redes:</h5>
                    <div class="contenedor-sociales d-flex justify-content-center flex-row flex-wrap">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating botones d-flex justify-content-center align-items-center flex-wrap m-1" href="https://www.facebook.com/" role="button"><span class="iconify" data-icon="ic:sharp-facebook"></span></a>
                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating botones d-flex justify-content-center align-items-center m-1" href="https://www.instagram.com/" role="button"><span class="iconify" data-icon="prime:instagram"></span></a>
                    <!-- Whatsapp -->
                    <a class="btn btn-outline-light btn-floating botones d-flex justify-content-center align-items-center m-1" href="https://web.whatsapp.com/" role="button"><span class="iconify" data-icon="ic:round-whatsapp"></span></a>
                    </div>
                    </div>
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:<a class="text-white">Grupo 3 - Cohort 37/38</a>
        </div>
    </footer>
        </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <script src="./js/juguetes.js"></script>
</body>
</html>